

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  min-height: 100%;
  max-height: 100%;
  background: white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  width: 100%;
  text-align: center;
  background: white;
  background-image: url("grahameyes.jpg");
}

/* 2222222222222222 Blog section panel*/
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.text-left {
  float: left;
  max-width: 50%;
}

.img-right {
  padding-left: 20px;
  float: right;
  max-width: 50%;
}
/* 2222222222222222222 */

/*image manipulation section*/
img {
  max-width: 100%;
  max-height: 100%;
}

.circular--square {
  border-top-left-radius: 40% 40%;
  border-top-right-radius: 40% 40%;
  border-bottom-right-radius: 40% 40%;
  border-bottom-left-radius: 40% 40%;
}

.active, .accordion:hover {
  background-color: #ccc;
}

/* About Me Social Media Buttons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #8a3ab9 ;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}





